<h4>Faça o login!</h4><br>
    <div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email: </label>
                <input type="email" class="form-control" name="email" required>
            <label for="email">Senha: </label>
                <input type="password" class="form-control" name="senha" required>
            <button type="submit" class="btn btn-success mt-2">login</button>
        </form>
    </div>
</div>