<h4>Categorias: </h4>


{{#each categorias}}
    <div class="card">
        <div class="card-body">
            <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
        </div>
    </div>
{{else}}

{{/each}}